{% extends 'main/base.html' %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="row py-4">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-2 ">
                  <img class="img-thumbnail" width="120px" height="auto" src="{% static 'main/images/uiu.png' %}" alt="UIU Logo">
                </div>
                <div class="col-md-6">
                    <p class="fs-4 lh-1">{{ student.student_name  }}</p>
                    <p class="fs-6 lh-1">ID: {{ student.id }}</p>
                    <p class="fs-6 lh-1">Deparment: Computer Science and Engineering</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row py-4">
      <div class="col-md-6">
        <p class="fs-5">Entrolled Courses</p>
        
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Course ID</th>
              <th scope="col">Course Name</th>
              <th scope="col">Section</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for course in courses %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ course.course.course_id }}</td>
                <td>{{ course.course.course_name }}</td>
                <td>
                  <select class="form-select" aria-label="Default select example">
                    <option value="A" selected>A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                  </select>
                </td>
                <td>
                  <button type="button" class="addBtn btn btn-primary" > ADD/Remove</button>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="col-md-6">
        <p class="fs-5">Requested Section</p>
        <table class="table table-bordered" id="reqTable">
          <thead>
            <tr>
              <th scope="col">SL</th>
              <th scope="col">Course ID</th>
              <th scope="col">Section</th>
              <th scope="col">Status</th>
              <th scope="col">Comment</th>
            </tr>
          </thead>
          <tbody>
            <tr>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script>
    const btn = document.querySelectorAll('.addBtn');
    btn.forEach((btn) => {
      btn.addEventListener('click', (e) => {
        console.log(e.target.parentElement.parentElement.children[1].innerText);
      })
    })

    $(document).ready(function(){
      $('.addBtn').click(function(){
        var course_id = $(this).parent().parent().children()[1].innerText;
        var course_name = $(this).parent().parent().children()[2].innerText;
        var student_id = {{ student.id }};
        var student_name = '{{ student.student_name }}';
        var section = $(this).parent().parent().children()[3].children[0].value;
        var status = 'Pending';

        $.ajax({
          url: "/ajax/sec_req",
          type: "POST",
          data: {
            'course_id': course_id,
            'student_id': student_id,
            'section': section,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
          },
          success: function(response){
            console.log(response);
          }
        })
      })
    })

    $(document).ready(function(){
      setInterval(function(){
        $.ajax({
          url: "/ajax/requested_section",
          type: "POST",
          data: {
            'student_id': {{ student.id }},
            'csrfmiddlewaretoken': '{{ csrf_token }}'
          },
          success: function(response){
          console.log(response);

          var markup = "";
          $('#reqTable tbody').empty();
          for(var i=0; i<response.length; i++){
            markup += "<tr><td>"+response[i].id+"</td><td>"+response[i].course_id+"</td><td>"+response[i].section+"</td><td>"+response[i].status+"</td><td>"+response[i].message+"</td></tr>";
          }
          $('#reqTable tbody').append(markup);


          }
        })
      }, 500)
    })
  </script>
{% endblock %}