{% extends 'main/base.html' %}
{% block content %}
{% load static %}
<div class="container">
  <div class="row py-4">
      <div class="col-md-12">
          <div class="row">
              <div class="col-md-2 ">
                <img class="img-thumbnail" width="120px" height="auto" src="{% static 'main/images/uiu.png' %}" alt="UIU Logo">
              </div>
              <div class="col-md-6">
                  <p class="fs-4 lh-1">{{ mentor.mentor_name  }}</p>
                  <p class="fs-6 lh-1">ID: {{ mentor.id }}</p>
                  <p class="fs-6 lh-1">Deparment: Computer Science and Engineering</p>
              </div>
          </div>
      </div>
  </div>

  <div class="row py-4">
    <div class="col-md-6">
      <p class="fs-5">Entrolled Courses</p>
      
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Student ID</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for i in student_data %}
          <tr>
            <td scope="col">{{ forloop.counter }}</td>
            <td scope="col">{{ i.student}}</td>
            <td scope="col">
              <a href="/req-sec-details/{{ i.student }}">See details</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}